body{
    box-sizing: border-box;
}
table{
    width: 600px;
    min-height: 200px;
    border-spacing: 0;
   
}
td{
    border: 2px solid black;
    vertical-align: top;
    text-align: center;
}


td:first-child{
    width: 150px;
    border-right: none;
}